<style data-teleport="head">
  @page last {
    margin: 2.00cm; // --cover-margin
    padding: 0;

    @top-left { content: none; }
    @top-center { content: none; }
    @top-right { content: none; }
    @bottom-left { content: none; }
    @bottom-center { content: none; }
    @bottom-right { content: none; }
  }

  @page {
    @top-center {
      content: '{{page.title}}';
    }
  }
</style>
<div class="back-cover">
  <section>
    <div class="title">{{ config.site_name }}</div>
  </section>
</div>
