.md-header {
  background-color: #004f73;
}

.md-sidebar--secondary {
  .md-nav .md-nav {
    display: none;
  }
}

.toc {
  display: none;
}

.toc-title {
  font-size: 1.5625em;
  font-weight: 300;
}

.md-typeset h1:first-of-type {
  display: none;
}

.md-typeset h2:first-of-type {
  margin-top: 0;
}

:root>* {
  --md-mermaid-custom-backgroundColor: #f4f4f4;
  --md-mermaid-custom-lineColor: #111111;
  --md-mermaid-custom-primaryColor: #004f73;
  --md-mermaid-custom-primaryBordColor: #00000000;
  --md-mermaid-custom-primaryTextColor: #ffffff;
  --md-mermaid-custom-secondaryColor: #000000;
  --md-mermaid-custom-secondaryBordColor: #00000000;
  --md-mermaid-custom-secondaryTextColor: #ffffff;
  --md-mermaid-custom-tertiaryColor: #e2f0ff;
  --md-mermaid-custom-tertiaryBordColor: #00000000;
  --md-mermaid-custom-tertiaryTextColor: #004f77;

  --md-mermaid-edge-color: var(--md-mermaid-custom-tertiaryTextColor);
  --md-mermaid-node-bg-color: var(--md-mermaid-custom-primaryColor);
  --md-mermaid-label-bg-color: var(--md-mermaid-custom-tertiaryColor);
  --md-mermaid-label-fg-color: var(--md-mermaid-custom-primaryTextColor);
  --md-mermaid-sequence-actor-bg-color: var(--md-mermaid-custom-primaryColor);
  --md-mermaid-sequence-actor-fg-color: var(--md-mermaid-custom-primaryTextColor);
  --md-mermaid-sequence-actor-border-color: var(--md-mermaid-custom-primaryBordColor);
  --md-mermaid-sequence-label-fg-color: var(--md-mermaid-custom-primaryTextColor);
}
