@import "docs/assets/stylesheets/variables";

:root {
  --color-primary: #004f73; // --color-primary
  --content-margin: 1.20cm; // --content-margin
  --cover-margin: 2.00cm; // --cover-margin
  --footer-height: 0.80cm; // --footer-height
  --header-height: 1.00cm; // --header-height
  --height: 29.7cm;
  --width: 21cm;
}

@page {
  margin-bottom: 1.80cm; // --content-margin + --footer-height
  margin-left: 1.20cm; // --content-margin
  margin-right: 1.20cm; // --content-margin
  margin-top: 2.20cm; // --content-margin + --header-height
  size: A4;

  @top-left {
    border-top: 3px solid #004f73; // --color-primary;
    content: $projectName;
    font-weight: 800;
    height: 1.00cm; // --header-height
    margin-left: -1.20cm; // --content-margin
    margin-top: 0.40cm;
    padding-left: 1.20cm; // --content-margin
  }

  @top-center {
    border-bottom: 5px solid #004f73; // --color-primary;
    border-top: 3px solid #004f73; // --color-primary;
    font-weight: 800;
    height: 1.00cm; // --header-height
    margin-top: 0.40cm;
  }

  @top-right {
    border-bottom: 5px solid #004f73; // --color-primary;
    content: $projectDate;
    font-weight: 800;
    height: 1.00cm; // --header-height
    margin-right: -1.20cm; // --content-margin
    margin-top: 0.40cm;
    padding-right: 1.20cm; // --content-margin
  }

  @bottom-left {
    border-top: 5px solid #004f73; // --color-primary;
    content: 'Copyright © '$projectYear ' - '$projectAuthor;
    font-weight: 800;
    height: 1.20cm; // --footer-height
    margin-bottom: 0.60cm;
    margin-left: -1.20cm; // --content-margin
    margin-top: 0.30cm;
    padding-left: 1.20cm; // --content-margin
  }

  @bottom-center {
    border-top: 5px solid #004f73; // --color-primary;
    content: 'Page ' counter(page) ' of ' counter(pages);
    font-weight: 800;
    height: 1.20cm; // --footer-height
    margin-bottom: 0.60cm;
    margin-top: 0.30cm;
  }

  @bottom-right {
    content: 'Version '$projectVersion;
    font-weight: 800;
    height: 1.20cm; // --footer-height
    margin-bottom: 0.60cm;
    margin-right: -1.20cm; // --content-margin
    margin-top: 0.30cm;
    padding-right: 1.20cm; // --content-margin
  }
}

@page :first {
  @top-left {
    display: none !important;
  }

  @top-center {
    display: none !important;
  }

  @top-right {
    display: none !important;
  }

  @bottom-left {
    display: none !important;
  }

  @bottom-center {
    display: none !important;
  }

  @bottom-right {
    display: none !important;
  }
}

@page last {
  @top-left {
    display: none !important;
  }

  @top-center {
    display: none !important;
  }

  @top-right {
    display: none !important;
  }

  @bottom-left {
    display: none !important;
  }

  @bottom-center {
    display: none !important;
  }

  @bottom-right {
    display: none !important;
  }
}

.md-main .md-main__inner {
  margin: 0;
}

.md-content .md-content__inner {
  margin: 0;
  padding: 0;

  &::before {
    height: 0;
  }
}

.md-image {
  border-radius: 0.50em;
  border: 1px solid #ddd;
}

hr:has(+ div.md-source-file),
.md-source-file {
  display: none !important;
}

body {
  print-color-adjust: exact;
  text-rendering: geometricPrecision;
}

.front-cover {
  border: 3px solid #004f73; // --color-primary;
  height: calc(var(--height) - var(--cover-margin) * 2);
  margin: state(cover-margin) !important;
  page-break-after: always;
  position: relative;

  section {
    color: #004f73; // --color-primary;
    font-size: 23pt;
    font-weight: 700;
    margin-top: calc(var(--height) / 2 - var(--cover-margin) - 4cm);
    max-width: calc(var(--width) - var(--cover-margin) * 2 - 0.2cm);
    padding: 0.635cm;
    word-wrap: break-word;

    .title {
      color: #004f73; // --color-primary;
      font-size: 30pt;
      font-weight: 700;
      line-height: 1.1;
      margin-top: 1em;
    }

    .author {
      font-size: 16pt;
      font-weight: 400;
      line-height: 1.1;
      margin-top: 1em;

      b {
        font-weight: 900;
      }
    }

    .description {
      font-size: 10pt;
      font-weight: 400;
      line-height: 1.1;
      margin-top: 1em;

      b {
        font-weight: 900;
      }
    }

    .date {
      font-size: 12pt;
      font-weight: 400;
      line-height: 1.1;
      margin-top: 1em;

      b {
        font-weight: 900;
      }
    }

    .version {
      font-size: 12pt;
      font-weight: 600;
      line-height: 1;
      margin-top: 1em;

      b {
        font-weight: 900;
      }

      span {
        font-family: monospace;
      }
    }
  }
}

.back-cover {
  border: 3px solid #004f73; // --color-primary;
  height: calc(var(--height) - var(--cover-margin) * 2);
  page: last;
  page-break-before: always;
  position: relative;

  section {
    margin-top: calc(var(--height) / 2 - var(--cover-margin) - 24pt);

    .title {
      color: #004f73; // --color-primary;
      font-size: 24pt;
      text-align: center;
      width: 100%;
    }
  }
}

.page-break {
  display: none;
  page-break-after: always;
}

.toc {
  display: initial;
}
